<div class="container">
  <h2>Gerenciamento de Clientes</h2>

  <form class="form" [formGroup]="formCliente">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="cliente.nome" placeholder="Nome" formControlName="nome">
    </div>
    <div class="form-group">
      <label for="tipo">Tipo</label>
      <select class="form-control" id="tipo" name="tipo" [(ngModel)]="cliente.tipo" (change)="pessoaFisicaOuJuridica()" formControlName="tipo">
        <option *ngFor="let tipo of tipos" [value]="tipo.nome">{{ tipo.nome }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="documento">{{ placeholderDocumento }}</label>
      <input type="text" class="form-control" id="documento" name="documento" [(ngModel)]="cliente.documento"
        [mask]="documentoMask" [placeholder]="placeholderDocumento" formControlName="documento">
    </div>
    <div class="form-group">
      <label for="rgOuIe">{{ placeholderrgOuIe }}</label>
      <input type="text" class="form-control" id="rgOuIe" name="rgOuIe" [(ngModel)]="cliente.rgOuIe"
        placeholder="{{ placeholderrgOuIe }}" formControlName="rgOuIe">
    </div>
    <div class="btn-group">
      <input *ngIf="btnCadastro" type="button" [disabled]="formCliente.invalid" value="Cadastrar" class="btn btn-primary" (click)="cadastrar()">
      <input *ngIf="!btnCadastro" type="button" [disabled]="formCliente.invalid" value="Editar" class="btn btn-primary" (click)="editar()">
      <input *ngIf="!btnCadastro" type="button" value="Cancelar" class="btn btn-primary" (click)="cancelar()">
    </div>
  </form><br>

  <div class="mb-3">
    <input type="text" class="form-control" [(ngModel)]="termoBusca" placeholder="Buscar por nome"
    (input)="filtrarClientesPorNome()">
    <button class="btn btn-secondary" (click)="limparBusca()">Limpar</button>
  </div>

  <div class="btn-group">
    <button class="btn btn-primary" (click)="filtrarClientes('ativos')">Ativos</button>
    <button class="btn btn-primary" (click)="filtrarClientes('inativos')">Inativos</button>
    <button class="btn btn-primary" (click)="filtrarClientes('todos')">Todos</button>
  </div>

  <table class="table table-bordered" *ngIf="tabela">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Telefone</th>
        <th>Documento</th>
        <th>RG ou IE</th>
        <th>Data de Cadastro</th>
        <th>Ativo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clientes; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ c.nome }}</td>
        <td>{{ c.tipo }}</td>
        <td>
          <ul class="list-unstyled">
            <li *ngFor="let telefone of c.telefones; let idx = index">
              {{ telefone | mask: '(00) 0000-0000' }}
              <button class="btn btn-danger btn-sm" (click)="removerTelefone(c, idx)">Remover</button>
            </li>
          </ul>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="c.novoTelefone" placeholder="Novo Telefone"
              mask="(00) 0000-0000">
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="adicionarTelefone(c)">Adicionar</button>
            </div>
          </div>
        </td>
        <td>{{ c.tipo === 'Pessoa Jurídica' ? (c.documento | mask:'00.000.000/0000-00') : (c.documento |
          mask:'000.000.000-00') }}</td>
        <td>{{ c.rgOuIe }}</td>
        <td>{{ c.dataCadastro | date:'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn" [ngClass]="{'btn-success': c.ativo, 'btn-danger': !c.ativo}"
            (click)="alternarAtivoCliente(c)">{{ c.ativo ? 'Ativo' : 'Inativo' }}</button>
        </td>
        <td>
          <button class="btn btn-success" (click)="selecionarCliente(i)">Editar</button>
          <button class="btn btn-danger" (click)="removerCliente(c)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
