<form [formGroup]="clienteForm">
  <!-- Nome -->
  <mat-form-field>
    <input matInput placeholder="Nome" formControlName="nome">
  </mat-form-field>

  <!-- Tipo -->
  <mat-form-field>
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="tipo" (selectionChange)="pessoaFisicaOuJuridica()">
      <mat-option *ngFor="let tipo of tipos" [value]="tipo.nome">{{ tipo.nome }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Documento -->
  <mat-form-field>
    <input matInput [placeholder]="placeholderDocumento" formControlName="documento" [mask]="documentoMask">
  </mat-form-field>

  <!-- RG ou IE -->
  <mat-form-field>
    <input matInput [placeholder]="placeholderrgOuIe" formControlName="rgOuIe">
  </mat-form-field>

  <!-- Botões -->
  <div *ngIf="btnCadastro">
    <button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar</button>
  </div>
  <div *ngIf="!btnCadastro">
    <button mat-raised-button color="warn" (click)="editar()">Alterar</button>
    <button mat-raised-button color="accent" (click)="remover()">Remover</button>
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
  </div>
</form>

<mat-form-field class="search-field">
  <input matInput placeholder="Buscar por nome" [(ngModel)]="termoBusca">
</mat-form-field>

<div class="btn-group">
  <button mat-raised-button color="primary" (click)="buscarPorNome()">Buscar</button>
  <button mat-raised-button color="warn" (click)="limparBusca()">Limpar</button>
</div>

<div class="btn-group">
  <button mat-raised-button color="primary" (click)="filtrarClientes('ativos')">Ativos</button>
  <button mat-raised-button color="primary" (click)="filtrarClientes('inativos')">Inativos</button>
  <button mat-raised-button color="primary" (click)="filtrarClientes('todos')">Todos</button>
</div>

<table mat-table class="table" *ngIf="tabela">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let c; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let c">{{ c.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef>Tipo</th>
    <td mat-cell *matCellDef="let c">{{ c.tipo }}</td>
  </ng-container>

  <ng-container matColumnDef="documento">
    <th mat-header-cell *matHeaderCellDef>Documento</th>
    <td mat-cell *matCellDef="let c">{{ c.tipo === 'Pessoa Jurídica' ? (c.documento | mask:'00.000.000/0000-00') : (c.documento | mask:'000.000.000-00') }}</td>
  </ng-container>

  <ng-container matColumnDef="rgOuIe">
    <th mat-header-cell *matHeaderCellDef>RG ou IE</th>
    <td mat-cell *matCellDef="let c">{{ c.rgOuIe }}</td>
  </ng-container>

  <ng-container matColumnDef="dataCadastro">
    <th mat-header-cell *matHeaderCellDef>Data de Cadastro</th>
    <td mat-cell *matCellDef="let c">{{ c.dataCadastro | date:'dd/MM/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="ativo">
    <th mat-header-cell *matHeaderCellDef>Ativo</th>
    <td mat-cell *matCellDef="let c">
      <button mat-icon-button (click)="alternarAtivoCliente(c)">
        <mat-icon>{{ c.ativo ? 'check' : 'close' }}</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let c">
      <button mat-raised-button color="primary" (click)="selecionarCliente(c)">Editar</button>
      <button mat-raised-button color="warn" (click)="removerCliente(c)">Excluir</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="toggleStatus">
    <th mat-header-cell *matHeaderCellDef>Ativar/Desativar</th>
    <td mat-cell *matCellDef="let c">
      <button mat-raised-button color="accent" (click)="alternarAtivoCliente(c)">
        {{ c.ativo ? 'Desativar' : 'Ativar' }}
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
