<div class="container mat-elevation-z2">
  <h2 class="title">Gerenciamento de Clientes</h2>
  <button class="btn btn-primary" (click)="abrirDialogCadastro()">Adicionar Novo Cliente</button>
  <br><br>
  <div class="filtro btn-group">
    <button class="btn" [ngClass]="filtroAtual === 'ativos' ? 'btn-selected' : ''"
      (click)="filtrarClientes('ativos')">Ativos</button>
    <button class="btn" [ngClass]="filtroAtual === 'inativos' ? 'btn-selected' : ''"
      (click)="filtrarClientes('inativos')">Inativos</button>
    <button class="btn" [ngClass]="filtroAtual === 'todos' ? 'btn-selected' : ''"
      (click)="filtrarClientes('todos')">Todos</button>
  </div>
  <div class="pesquisa mb-3">
    <input type="text" class="form-control" [(ngModel)]="termoBusca" placeholder="Buscar por nome"
      (input)="filtrarClientesPorNome()">
    <button class="btn btn-secondary" (click)="limparBusca()">Limpar</button>
  </div>
  <div *ngIf="clientes.length === 0" class="alert alert-warning">
    Não há clientes para listar.
  </div>
  <table class="table table-bordered" *ngIf="clientes.length > 0">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Telefones</th>
        <th>Documento</th>
        <th>RG ou IE</th>
        <th>Data de Cadastro</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clientes; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ c.nome }}</td>
        <td>{{ c.tipo }}</td>
        <td>
          <ul class="list-unstyled telefone-list">
            <div class="input-group">
              <input type="text" id="addTelefone" class="form-control" [(ngModel)]="c.novoTelefone" placeholder="Novo Telefone"
                mask="(00) 00000-0000">
              <div class="input-group-append">
                <button class="btn btn-primary" (click)="adicionarTelefone(c)">Adicionar</button>
              </div>
            </div>
            <li *ngFor="let telefone of c.telefones; let idx = index" class="telefone-list-item">
              <ng-container *ngIf="idx < 2 || mostrarTelefoneCompleto[c.codigo]">
                {{ telefone | mask: '(00) 00000-0000' }}
                <button class="btn btn-danger btn-sm" (click)="removerTelefone(c, idx)">Remover</button>
              </ng-container>
            </li>
          </ul>
          <div *ngIf="c.telefones.length > 2">
            <button id="verMais" class="btn btn-link" (click)="mostrarTelefoneCompleto[c.codigo] = !mostrarTelefoneCompleto[c.codigo]">
              {{ mostrarTelefoneCompleto[c.codigo] ? 'Ver Menos' : 'Ver Mais' }}
            </button>
          </div>
        </td>
        <td>{{ c.tipo === 'Pessoa Jurídica' ? (c.documento | mask:'00.000.000/0000-00') : (c.documento |
          mask:'000.000.000-00') }}</td>
        <td>{{ c.rgOuIe }}</td>
        <td>{{ c.dataCadastro | date:'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn" [ngClass]="{'btn-success': c.ativo, 'btn-danger': !c.ativo}">{{ c.ativo ? 'Ativo' :
            'Inativo' }}</button>
        </td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item (click)="abrirDialogEditar(i)">
              <mat-icon>edit</mat-icon> Editar
            </button>
            <button mat-menu-item (click)="removerCliente(c)">
              <mat-icon>delete</mat-icon> Excluir
            </button>
            <button mat-menu-item (click)="alternarAtivoCliente(c)">
              <mat-icon>{{ c.ativo ? 'toggle_on' : 'toggle_off' }}</mat-icon>
              {{ c.ativo ? 'Desativar' : 'Ativar' }}
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>
