.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

mat-label {
  font-size: 16px;
}

mat-select {
  width: 100%;
}

input[type="text"] {
  width: 100%;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  flex-grow: 1;
  margin-right: 10px;
}
