<div class="container">
  <h2 class="title">Cadastro de Cliente</h2>
  <form class="form" [formGroup]="formCliente">
    <mat-form-field class="form-group">
      <mat-label>Nome</mat-label>
      <input matInput id="nome" name="nome" [(ngModel)]="cliente.nome" placeholder="Nome" formControlName="nome">
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Tipo</mat-label>
      <mat-select id="tipo" name="tipo" [(ngModel)]="cliente.tipo" (change)="pessoaFisicaOuJuridica()"
        formControlName="tipo">
        <mat-option *ngFor="let tipo of tipos" [value]="tipo.nome">{{ tipo.nome }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>{{ placeholderDocumento }}</mat-label>
      <input matInput type="text" id="documento" name="documento" [(ngModel)]="cliente.documento"
        [mask]="cliente.tipo === 'Pessoa Jurídica' ? '00.000.000/0000-00' : '000.000.000-00'"
        [placeholder]="placeholderDocumento" formControlName="documento">
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>{{ placeholderrgOuIe }}</mat-label>
      <input matInput type="text" id="rgOuIe" name="rgOuIe" [(ngModel)]="cliente.rgOuIe"
        placeholder="{{ placeholderrgOuIe }}" formControlName="rgOuIe">
    </mat-form-field>
    <div class="btn-group">
      <button mat-raised-button *ngIf="btnCadastro" [disabled]="formCliente.invalid" color="primary"
        (click)="cadastrar()">Cadastrar</button>
      <button mat-raised-button *ngIf="!btnCadastro" [disabled]="formCliente.invalid" color="primary"
        (click)="editar()">Editar</button>
      <button mat-raised-button color="primary" (click)="cancelar()">Cancelar</button>
    </div>
  </form><br>
</div>
